.collapse-header {
	background-color: #EAAB00; /*MD Gold*/
	color: black;
	width: 100%;
	border: 1px solid black;
	border-right: none;
	border-left: none;
}

.collapse-body {
	background-color: #F5EA74; /*Light Gold*/
	padding: 0;
	margin: 0;
	border: 1px solid black;
	border-right: none;
	border-left: none;
}

.collapse-header:hover {
	cursor: pointer;
	background-color: #FFAB00;
}