.collapse-header {
	background-color: #EAAB00; /*MD Gold*/
	color: black;
	border: 1px solid black;
}

.collapse-body {
	background-color: #F5EA74; /*Light Gold*/
	padding: 0;
	margin: 0;
	border: 1px solid black;
}

.collapse-header:hover {
	cursor: pointer;
	background-color: #FFAB00;
}

.filter-button {
	background-color: gold;
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: relative;
	top: 3vh;
	right: 20px;
	float: right;
	border-radius: 50%;
}

.filter-button:hover {
	cursor: pointer;
	background-color: #FFAB00;
}