table{
	width: 100%;
	border: 1;
	
}
td {
	border: 1px solid black;
}

tr {
	border: 1px solid black;
	font-size: 12px;
}

th {
	border: 1px solid black;
	background-color: #9C9C9C;
}

tr:hover {
	background-color: #ECECEC;
}

.taskbar {
	width: 100%;
	display: block;
	background-color: #9C9C9C;
}